body{
  /*background-color: #272818;*/
}

select {
    color: 121219;
    border-radius: 2px;
    height: 33px
}
.container{
    display: block;
  }

#home{
  position: absolute;

}
#home{
   /*background-color: red;*/
}
