body{
  background-color: #272818;
}

table, td, th {
    border: 1px solid #ddd;
    text-align: center;
}

table {
    border-collapse: collapse;
    width: 30%;
    float: right;
}

th, td {
    padding: 10px;
}

th {
    background-color: #4CAF50;
    color: white;
    text-align: center
}
h3 {
  color: white;
}
.navbar {
    margin-bottom: 50px;
    border-radius: 0;
    position: fixed;    /* Set the navbar to fixed position */
    top: 2px; /* Position the navbar at the top of the page */
    width: 100%;    /* Full width */
}

hr {
    clear: both;
    visibility: hidden;
}

.list-group-item {
    padding: 1px;
}

select {
    border-radius: 2px;
    height: 33px
}

.filteringData{
  position: absolute;
  padding: -30px;
}



    /* Remove the navbar's default margin-bottom and rounded borders */
    .navbar {
      margin-bottom: 0;
      border-radius: 0;
    }

    /* Set height of the grid so .sidenav can be 100% (adjust as needed) */
    .row.content {height: 450px}

    /* Set gray background color and 100% height */
    .sidenav {
      padding-top: 20px;
      background-color: #f1f1f1;
      height: 100%;
    }
    /* On small screens, set height to 'auto' for sidenav and grid */
    @media screen and (max-width: 767px) {
      .sidenav {
        height: auto;
        padding: 15px;
      }
      .row.content {height:auto;}
    }
